services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    container_name: tarifas-api
    build:
      context: .
      dockerfile: Dockerfile
    image: tarifas-api:latest
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
